.weatherDataCont{
	width:100%;
	font-family: 'Poiret One', cursive;
	display: inline-flex;
	align-items: center;
	background: rgba(200, 200, 200, 0.3);
	border-radius: 8px;
	padding: 6px 0px;
}

.weatherTemperatureCont{
	width:59%;
}

.weatherExtraInfoCont{
	width:39%;
	line-height: 30px;
}

.infoTemperature{
    font-weight: bold;
    font-size: 39px;
    color: gray;
    width: 20%;
    text-align: right;
    margin-left: 1px;
}

.letterCtemperature{
	font-weight: bold;
	font-size: 18px;
	color:#cfcfcf;
}

.icon{
    color: orange;
    padding-right: 16px;
    padding-left: 22px;
    width: 30%;
}

.info{
	display: block;
	font-size: 18px;
	font-weight: bold;
}